body {
    background-color: #cccccc;
} 
img {
    width: 100%;
}
.titulo-pricipal {
    padding: 20px;
}
.titulo-centralizado{
    text-align: center;
}
h1,p {
    text-align: center;
}
em {
    color: red;
}
#missao {
    font-size: 20px;
}
.principal {
    background-color: #a7a7a7;
    padding: 30px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.beneficios{
    background-color: #a7a7a7;
    padding: 20px;
}
.img-beneficios{
    width: 50%;
}